---
import Layout from "../../layouts/Layout.astro";
import PictureGrid from "../../components/PictureGrid.astro";
import AdiosHeader from "../../components/AdiosPicture/AdiosHeader.astro";
---


<Layout title="Adios Picture">
    <main class="px-8 md:px-32 py-16 space-y-16">
        <AdiosHeader />
        <PictureGrid />
    </main>
</Layout>