---
import Layout from "../layouts/Layout.astro";
import Stat from "../components/Home/Stat.astro";
import Image from "astro/components/Image.astro";
import grassImage from "../../public/grass.jpeg";
import MemberPanel from "../components/Member/MemberPanel.tsx";
import type { Member } from "../@types/member";
const fetchMember = async () => {
    const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/members`);
    if (!res.ok) {
        throw new Error("Failed to fetch members");
    }
    const data = await res.json();
    return data;
};

const adiosContributersUsername = [
    "lobster567",
    "gelocup",
    "pun6",
    "ezthatmyname",
    "sillysuperpoop",
];

const membersData = await fetchMember();

const members = membersData.filter((member: Member) =>
    adiosContributersUsername.includes(member.username),
);
---

<Layout title="Adios">
    <main
        class="flex flex-col items-center justify-center h-full w-full space-y-36 mt-8"
    >
        <section
            class="flex flex-col md:flex-row text-black md:p-10 space-y-8 md:space-y-0 space-x-0 md:space-x-8 p-4"
        >

                <div
                    class="space-y-8 flex flex-col"
                >
                    <h1 class="text-5xl font-semibold">Adios Memories<br>In the heart <br>not the head</h1>
                    <p class="text-lg max-w-[500px]">
                        Every day, my friend sends a special photograph called
                        an <span class="font-bold">Adios Picture</span> in our Discord
                        server, which is a ritual to reflect on the day and look
                        forward to the next.
                    </p>
           
                    <a
                        class="text-center font-light bg-black p-5 place-self-start text-xl rounded-full shadow-lg text-white"
                        href="/adios-picture">View Pictures ➜</a
                    >
                    
                </div>
                <div class="flex items-center justify-center md:justify-start">
                    <Image
                        src={grassImage}
                        alt="Sing Image"
                        class="rounded-lg  md:max-h-[500px] md:max-w-[500px]"
                    />
                </div>
        </section>
        <MemberPanel members={members} />
        <Stat />
    </main>
</Layout>
