---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
import Card from '../components/Home/Card.astro';
---

<Layout title="Adios">
	<Navbar/>
	<main class="flex items-center justify-center h-full w-full py-24 px-56 flex-col space-y-36">
		<Header/>
		<div class="flex flex-col items-center justify-center space-y-24">
			<h1 class = "text-5xl font-bold text-white">Latest Adios Picture</h1>
			<div class="flex space-x-16 items-center justify-center">
				<Card />
				<Card />
				<Card />
			</div>
		</div>
	</main>
</Layout>

<style>
</style>
