---
// Example static data, replace with dynamic data fetch if necessary
const stats = {
  imagesPosted: 1200,
  uniqueContributors: 300
};
---

<div class="text-white p-4 md:p-6 flex flex-col items-center justify-center space-y-16">
    <h1 class="text-5xl font-bold">We have a long history</h1>
    <div class="container mx-auto max-w-full flex justify-around items-center space-x-16">
    <div class="stat">
      <p class="text-5xl font-bold">{stats.imagesPosted}+</p>
      <p>Adios Images Posted</p>
    </div>
    <div class="stat">
      <p class="text-5xl font-bold">{stats.uniqueContributors}+</p>
      <p>Unique Contributors</p>
    </div>
  </div>
</div>