---
import type { AdiosStat } from "../../@types/member";
import AdiosChart from "../Adios/AdiosChart";
const getAdiosCountByUser = async () => {
    const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/messages/count-by-author`);
    const data = await res.json();
    return data;
};

const rawData = await getAdiosCountByUser();

const adiosData = Object.entries(rawData).map(([author, count]) => ({
  author,
  count: Number(count),
}));
---

<div class="p-16 flex justify-center space-y-6 bg-black w-full text-white">
    <AdiosChart data={adiosData} client:load/>
    <div class="space-y-8">
      <div class = "flex space-x-16">
        <div class="space-y-2">
          <h1 class="text-6xl font-semibold">1200+</h1>
          <p>Adios picture posted</p>
        </div>
        <div class="space-y-2">
          <h1 class="text-6xl font-semibold">10</h1>
          <p>Unique Contributers</p>
        </div>
      </div>
      <p class="text-lg max-w-96">Realtime Statistics for Adios Contributors
Access detailed and current statistics for contributors to the Adios project. </p>
    </div>
</div>