---
import Image from "astro/components/Image.astro";
import singImage from "../../public/sing.png";
---

<section class="text-white flex justify-center space-y-4 items-center space-x-4">
    <div class="w-7/12 space-y-12 flex flex-col">
        <h1 class="text-6xl font-bold">Archive of Adios 👋</h1>
        <div>
            <p class="text-xl">Every day, my friend sends a special type of photograph known as an <span class="font-bold">adios picture </span> in our discord server. In these images, we take a moment to say goodbye to the current day and express our readiness to embrace the coming day. It's a beautiful ritual that helps us reflect on the day that's passed and look forward with hope to tomorrow.</p>
        </div>
        <button class = "bg-red-500 p-5 text-xl font-bold rounded-xl shadow-md w-1/3">View Pictures</button>
    </div>
    <div class="w-5/12">
        <Image src = {singImage} alt="anime" class="rounded-xl text-2xl" width={1000} height={1000}/>
    </div>
</section>