---
// Ensure Tailwind is configured in your Astro project
---
<nav class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a class="text-lg font-bold" href="/" >Adios Archive</a>
        <ul class="flex">
            <li class="ml-6">
                <a href="/" class="hover:underline">Home</a>
            </li>
            <li class="ml-6">
                <a href="/adios-picture" class="hover:underline">Adios</a>
            </li>
            <li class="ml-6">
                <a href="/donate" class="hover:underline">Donate</a>
            </li>
        </ul>
    </div>
</nav>